@model InspectorWeb.ModelsDB.DocsExaminationTasks

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DocsExaminationTasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountMassVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountMassVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SafePackage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SafePackage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateReceipt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateReceipt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSampling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSampling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasAppendix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasAppendix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShouldReturn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShouldReturn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SamplingStandard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SamplingStandard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SamplingPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SamplingPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SamplingActor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SamplingActor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExamiationPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExamiationPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Inn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinationCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationCountry.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OriginCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginCountry.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SamplingProduction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SamplingProduction.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Guid" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
